<div class="flex items-center container m-0 space-x-2">
    <span class="text-[10px]">
        FE: 1.0.0
    </span>
    <span class="text-[10px]">
        Release Date: 21 March 2025
    </span>
	<span class="text-[10px]">
        |
    </span>
    <span class="text-[10px]">
        BE: 1.0.0
    </span>
    <span class="text-[10px]">
        Release Date: 21 March 2025
    </span>
	<span class="text-[10px]">
        |
    </span>
    <span class="text-[10px]">
        DB: 1.0.0
    </span>
    <span class="text-[10px]">
        Release Date: 21 March 2025
    </span>
</div>
